#profile-image{
    border-radius: 50%;
    max-width: 160px;
    height: 160px;
    object-fit: cover;
    /* border-style: solid; */
    /* border-color: var(--accent-color); */
    border-width: 1px;
    margin-top: 20px;
    margin-left: 45px;
    box-shadow: 7px 7px var(--profile-pic-shadow-color);
}

#left-column{
    background-color: var(--left-column-background-color);
    width: 32%;
}

.left-column-header{
    background-color: var(--accent-color);
    margin-left: 1px;
    color: white;
    display: inline-block;
    padding: 5px;
    font-weight: 900;
    margin-bottom: 8px;
    box-shadow: 4px 4px var(--left-column-header-shadow-color);
}

.left-column-content{
    /* border: solid; */
    font-size: 14px;
}

.left-header-content-wrapper{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 8px;
}

.media-icon-text-wrapper{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    /* border: solid; */
    display: inline-block;
    cursor: pointer;
}

.media-icon-wrapper{
    font-size: 36px;
}

.media-text-wrapper{
    font-size: 16px;
}

.media-icon{
    color: var(--accent-color);
}

#left-divider{
    margin-top: 30px;
    width: 80%;
}

#media-container{
    /* border: solid; */
    margin-left: 15px;
    margin-top: 15px;
}

.personal-data-row{
    margin-top: 3px;
}
